@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-color: v.$naranja;

    @include m.tablet {
        &.fijo {
            left: 0;
            top: 0;
            position: fixed;
            width: 100%;
            box-shadow: .1rem .2rem .3rem #333;
        }
    }

    // img {
    //     text-align: center;
    //     @include m.tablet {
    //         margin: 0;
    //     }
        
    // }
    .contenido-header {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}

.navegacion-principal {
    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
    a {
        display: flex;
        align-items: center;
        gap: .5rem;
        text-align: center;
        color: v.$blanco;
        font-size: 2.2rem;
        transition: .3s ease;
        font-weight: v.$bold;
        // margin-bottom: 1rem;
        @include m.tablet {
            margin: 0;
        }
        &:hover {
            color: v.$negro;
        }
    }
    
    i {
        font-size: 3.2rem;
    }
}
